<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/RestAssuredProject/RestAssuredProject">
        <classes>
            <class name="com.testing.restassured.handson.SampleTest"></class>
            <class name="com.testing.restassured.handson.SampleTest2"></class>
        </classes>
    </test>
</suite>